---
title: 8000038 GDPR 하위 계정 확인
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: e2864efcfb493b6e46b662b746661a61232bdba7
ms.translationtype: MT
ms.contentlocale: ko-KR
ms.lasthandoff: 01/24/2019
ms.locfileid: "29478465"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="fd6ab-102">Microsoft 계정에 표시 되는 생일 올바르지 않습니다.</span><span class="sxs-lookup"><span data-stu-id="fd6ab-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="fd6ab-p101">Microsoft 계정 보안을 매우 심각 하 게 수행합니다. 수 있는 최근에 된 하 라는 메시지가 하위의 Microsoft 계정에 대 한 상위/하위 동의 제공 합니다. 상위/하위 사용자의 동의 제공 하거나 Microsoft 계정에 생일의 날짜를 업데이트할 도움이 필요한 경우 [상위/하위 사용자의 동의 대 한 시간 확인](https://go.microsoft.com/fwlink/p/?linkid=874364)을 참조 하십시오.</span><span class="sxs-lookup"><span data-stu-id="fd6ab-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="fd6ab-106">[상위/하위 사용자의 동의 하 고 Microsoft 자식 계정](https://go.microsoft.com/fwlink/p/?linkid=874365)하는 방법에 대 한 자세한 내용은 합니다.</span><span class="sxs-lookup"><span data-stu-id="fd6ab-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

