---
title: 8000038 GDPR 하위 계정 확인
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 035004602a439335380ec72ea65fd1bd70ebbf0d
ms.sourcegitcommit: 5fb7a4b28859690020efdea630d03e70cc0e6334
ms.translationtype: MT
ms.contentlocale: ko-KR
ms.lasthandoff: 06/28/2019
ms.locfileid: "35387063"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="51bfb-102">Microsoft 계정에 표시 된 생년월일이 잘못 되었습니다.</span><span class="sxs-lookup"><span data-stu-id="51bfb-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="51bfb-103">Microsoft는 계정 보안을 매우 심각 하 게 받아들입니다.</span><span class="sxs-lookup"><span data-stu-id="51bfb-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="51bfb-104">최근 자녀의 Microsoft 계정에 대 한 자녀 보호 동의를 제공 하 라는 메시지가 표시 되었을 수 있습니다.</span><span class="sxs-lookup"><span data-stu-id="51bfb-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="51bfb-105">보호자 동의를 제공 하거나 Microsoft 계정에서 생년월일을 업데이트 하는 데 도움이 필요한 경우 [에는 보존 기간 확인](https://go.microsoft.com/fwlink/p/?linkid=874364)을 참조 하십시오.</span><span class="sxs-lookup"><span data-stu-id="51bfb-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="51bfb-106">[보호자 통제 및 Microsoft 자녀 계정](https://go.microsoft.com/fwlink/p/?linkid=874365)에 대해 자세히 알아보세요.</span><span class="sxs-lookup"><span data-stu-id="51bfb-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  